# ==============================================================================
# Configuration Déploiement Wanekoo (cPanel / FTP)
# ==============================================================================
WANEKO_FTP_HOST=fatma.wanekoohost.com
WANEKO_FTP_PORT=21
WANEKO_FTP_USER=dioufyt1
WANEKO_FTP_PASSWORD=VotreMotDePasseCpanel
WANEKO_REMOTE_DIR=/public_html/
WANEKO_DOMAIN=https://dioufy-ts.sn/
