# Flutter
.dart_tool/
.packages
pubspec.lock
.flutter-plugins
.flutter-plugins-dependencies
build/
ios/Flutter/App.framework
android/app/debug
android/app/profile
android/app/release

# Supabase & Secrets
.env
.env*
!.env.example
API key token docs/
doc project/
*.docx

# Logs
*.log

# IDE & Editor
.idea/
.vscode/
*.iml
.metadata_backup
*_backup*
